* {
    margin: 0;
    padding: 0;
  }

body {
    display:grid;
    height:800px;
    grid-template-columns: 1fr 1fr;
    grid-template-rows: 1fr 1fr 1fr;
    font-family: 'Noto Sans', sans-serif;
    background-color: #97b416;
}

.welcome {
    grid-area:1/2/1/2;
    background-color: #164eb4;

}



